.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: normal;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: #ffffff;
    color: black;
}

.checkboxes label {
    display: block;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

.none {
    display: none;
}

.block {
    display: block;
}