

.main {

    background: url("../main/Mainimg/ShabbatEvent.jpg");;
    background-blend-mode: multiply;
    background-size: cover;
    top: 15%;
    left: 15%;


    width: 70%;
    padding: 4% 5%;
    box-shadow: 4px 4px 4px 4px rgba(104, 88, 152, 0.48);
}

.main h2 {
    font-weight: bold;
    font-size: 2.5em;
}


.signup {
    background: transparent;
    color: white;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}


.signup:hover {
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: multiply;
    transition: 1s;
}

.signup:not(:hover) {
    transition: 1s;
}

.main p {
    font-size: 1.5em;
    padding: 3% 1%;
}

