
/*    background: linear-gradient(to bottom, #5F4F8D, #FFEED9)no-repeat;*/
\body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: linear-gradient(to bottom, #5F4F8D, #FFEED9)no-repeat;
    background-size: cover;
}
