
/*    background: linear-gradient(to bottom, #5F4F8D, #FFEED9)no-repeat;*/
body{
    font-family: 'Raleway', sans-serif;
    color: rgba(11, 42, 255, 0.01);
    background: linear-gradient(to bottom, #5F4F8D, #FFEED9)no-repeat;
    background-size: cover;
}
.testimg{
height: 25em;
margin-top:1em;
    margin-bottom: 1em;
}